/*flex-basis property has greater priority than width property!!!!*/
/*flex property is shorthand for:*/
/*1. flex-grow*/
/*2. flex-shrink*/
/*3. flex-basis*/


body{
    font-family: Arial;
}

.flexbox-container{
    padding: 3px;
    border: 1px solid blue;

    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
}

.flexbox-container div{
    margin: 3px;
    border: 1px solid red;
}